<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>

</head>



<div class="container">
    <form id="myform" class="form-horizontal">
        <fieldset>
            <legend><label class="glyphicon glyphicon-user"><span>用户登录:</span></label></legend>
            <div class="form-group" id="mid">
            <label class="col-md-3 control-label">用户名:</label>
            <div class="col-md-5 control-label">
                <input type="text" class="form-control" placeholder="input">

            </div>
            <div class="col-md-4"></div>

        </div>

            <div class="form-group" id="mid2">
                <label class="col-md-3 control-label">密码:</label>
                <div class="col-md-5 control-label">
                    <input type="text" class="form-control" placeholder="input">

                </div>
                <div class="col-md-4"></div>

            </div>

            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="submit">denglu</button>
                    <button type="reset">quxiao </button>
                </div>
            </div>

        </fieldset>

    </form>
</div>


<!--<div id="wrapper">-->
    <!--<div class="">-->
        <!--<div class="">-->
            <!--<div class="header " style="">-->
                <!--<h1 style="text-align: center;">登录</h1>-->
            <!--</div>-->

            <!--<p class='flashes' style='text-align:center;color:red;'>-->
                <!--aa-->
            <!--<li style="text-align:center;color:red">bb</li>-->

            <!--</p>-->

            <!--<form class="form-auth-small" action=""  style="width: 40%;-->
    <!--margin-left: 30%;">-->

                <!--<div class="form-group">-->

                    <!--<p class="flashes">cc</p>-->

                    <!--<div class="form-group">-->

                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>