<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/mystyle.css"/>
</head>

<style type="text/css">
    .row div {
        background-color: #1b6d85;
        height: 20px;
    }
</style>
<body>

<div>
    <div id="header">
        <h1>data</h1>
        <p>content</p>

    </div>

    <div class="row">
        <div class="span2"></div>
        <div class="span10"></div>
    </div>
</div>


<!--<div id="wrapper">-->
    <!--<div class="">-->
        <!--<div class="">-->
            <!--<div class="header " style="">-->
                <!--<h1 style="text-align: center;">登录</h1>-->
            <!--</div>-->

            <!--<p class='flashes' style='text-align:center;color:red;'>-->
                <!--aa-->
            <!--<li style="text-align:center;color:red">bb</li>-->

            <!--</p>-->

            <!--<form class="form-auth-small" action=""  style="width: 40%;-->
    <!--margin-left: 30%;">-->

                <!--<div class="form-group">-->

                    <!--<p class="flashes">cc</p>-->

                    <!--<div class="form-group">-->

                    <!--</div>-->
                    <!--<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>